.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App {
  display: flex;
  height: 100vh;
  font-family: 'Raleway', sans-serif;
}

.aside {
  width: 30%;
}

.aside {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: flex-start;
  background-color: #1E213A;
  position: relative;
}

.aside-overlay {
  position: absolute;
  left: -500px;
  right: 500px;
  bottom: 0;
  top: 0;
  background-color: #1E213A;
  z-index: 1;
  transition: all 0.5s ease-in-out;
}

.aside-overlay.active {
  right: 0;
  left: 0;
}

.content-overlay {
  padding: 10px 45px;
  margin: 0 auto;
}

.button-close {
  display: flex;
  justify-content: flex-end;
  color: #E7E7EB;
  padding-bottom: 9%;
}

.button-close svg {
  cursor: pointer;
}

.content-search {
  display: flex;
}

.input-search {
  width: calc(100% - 75px);
  padding: 8px;
  margin-right: 6px;
  border: 1px solid #E7E7EB;
  background-color: #1E213A;
  color: #E7E7EB;
  font-size: 16px;
}

.button-search {
  padding: 9px;
  background-color: #3C47E9;
  color: #E7E7EB;
  font-size: 16px;
  border: none;
  transition: all 0.5s ease-in-out;
}

.button-search:hover {
  background-color:#c7c7fb;;
  color:#3C47E9;
}

.content-picture-weather-today {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('./assets/images/Cloud-background.png');
  background-position: center;
  background-repeat: no-repeat;
  background-origin: content-box;
  min-height: 380px;
  width: 100%;
}

svg {
  width: 18px;
}

.content-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
  width: 100%;
}

.button {
  background-color: #6E707A;
  color: #E7E7EB;
  font-size: 16px;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transition: all 0.5s ease-in-out;
}

.button-round {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  border-radius: 50%; 
  font-size: 18px;
  box-sizing: border-box;
}

.button.active, button:hover {
  background-color: #E7E7EB;
  color: #6E707A;
}

.content-info-weather-today {
  width: 100%;
} 

.content-info-weather-today p:last-child{
  padding-top: 5%;
} 

.content-info-weather-today .temperature {
  font-size: 140px;
  line-height: 140px;
  color: #E7E7EB;
  margin: 0;
  padding-bottom: 10%;
}

.content-info-weather-today .measurement {
  font-size: 60px;
  color: #A09FB1;
}

.content-info-weather-today .weather {
  font-size: 36px;
  color: #A09FB1;
  padding-bottom: 15%;
}

.content-info-weather-today p {
  font-size: 18px;
  color: #A09FB1;
  text-align: center;
}

.content {
  width: 70%;
  background-color: #100E1D;
}

.content-center {
  max-width: 705px;
  width: 100%;
  margin: 0 auto;
  padding: 40px 0;
}

p {
  font-size: 16px;
  color: #E7E7EB;
}

.content-measurement {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-bottom: 8%;
}

.content-measurement button:first-child {
  margin-right: 10px;
}

progress {
  -webkit-appearance: none;
  height: 8px;
  width: 100%;
  max-width: 225px;
  position: relative;
}

::-webkit-progress-bar {
  background-color:#E7E7EB;
  border-radius: 8px;
}

::-webkit-progress-value {
  background-color: #FFEC65;
  border-radius: 8px;
}

progress:before {
  content: '0';
  position: absolute;
  left: 0;
  top: -16px;
  color: #A09FB1;
  font-size: 12px;
  font-weight: bold;
}

progress:after {
  content: '100';
  position: absolute;
  right: 0;
  top: -16px;
  color: #A09FB1;
  font-size: 12px;
  font-weight: bold;
}

.content-card-weather {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 25px;
  list-style: none;
  padding-bottom: 10%;
}

.card-weather {
  background-color: #1E213A;
  padding: 20px;
}

.card-weather:last-child{
  margin-right: 0;
}

.card-weather .content-icon {
  height: 57px;
  padding: 10px 0 25px;
}

.card-weather .icon-weather {
  max-width: 57px;
  height: auto;
}

.card-weather .content-max-min-temperature {
  display: flex;
  justify-content: space-between;
}

.min-temperature {
  color: #A09FB1;
}

.subtitle {
  font-size: 24px;
  font-weight: bold;
  text-align: left;
  padding-bottom: 5%;
}

.content-card-highlights {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 45px;
  list-style: none;
  padding-bottom: 50px;
}

.card-highlights {
  background-color: #1E213A;
  padding: 20px;
}

.card-highlights .measurement {
  font-size: 35px;
  color: #E7E7EB;
  padding-bottom: 15px;
}

.content-wind {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  color: #E7E7EB;
  padding: 10px 0 5px;
}

.icon-wind {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transform: rotate(45deg);
  background-color: #585676;
  margin-right: 8px;
}

.card-highlights .number {
  font-size: 65px;
  font-weight: bold;
}

.dev {
  font-family: "Helvetica Neue", sans-serif;
  font-size: 14px;
  color: #616475;
}

@media screen and (max-width: 1180px) {
  .App {
    flex-wrap: wrap;
  } 

  .aside {
    width: 100%;
  }

  .content {
    width: 100%;
  }

  .aside-overlay {
    left: -100%;
    right: 100%;
  } 

  .content-info-weather-today .temperature{
    padding-bottom: 20px;
  }

  .content-info-weather-today .weather{
    padding-bottom: 40px;
  } 

  .content-info-weather-today p:last-child {
    padding: 20px 0 60px;
  }
}

@media screen and (max-width: 1180px) {
  .content {
    padding: 0 20px;
  }

  .content-card-weather {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px 25px;
  }

  .content-card-highlights {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 30px;
  }
}